In [6]:
import pandas as pd 


data = pd.read_csv('./data/customers.csv')#, index_col=0)
data.set_index('CustomerID', inplace=True)
data.head()

            Gender  Age  Annual_Income  Spending_Score
CustomerID
1             Male   19             15              39
2             Male   21             15              81
3           Female   20             16               6
4           Female   23             16              77
5           Female   31             17              40

In [16]:
data.groupby('Gender').agg({'Annual_Income': ['mean'], 'Spending_Score': ['mean']}).to_json('result.json')